<div class="row">
  <div class="col-xs-12 
  col-sm-offset-2 col-sm-8 
  col-md-offset-2 col-md-8 
  col-lg-offset-3 col-lg-6">

<%= form_for(task) do |f| %>

<!--　↓エラーメッセージ表示用 -->
<% if task.errors.any? %>

    <div id="error_explanation">
      <ul>
        
<% task.errors.full_messages.each do |task| %>

          <li>
<%= task %>
</li>
        
<% end %>

      </ul>
  </div>
  
<% end %>
<!-- ↑ここまで↑ -->

<div class="form-group">
  
  <%= f.label :content, 'タスク名' %>
  <%= f.text_field :content, class: 'form-control' %>

  <%= f.label :stasus, 'ステータス' %>
  <%= f.text_field :status, class: 'form-control' %>

</div>
<%= f.submit '作成', class: 'btn btn-primary' %>

<% end %>