<% if logged_in? %>
  <p>ログインしているユーザー: <%= current_user.name %></p>
    <% current_user %>

  <div class="row">
    <aside class="col-md-4">
      <h1>タスク作成</h1>
        <%= form_for(@task) do |f| %>
          <div class="form-group">
            <label for="input_name" class="col-md-6 control-label">タスク名</label>
              <%= f.text_area :content, class: 'form-control' %>
            <label for="input_name" class="col-md-6 control-label">ステータス</label>
              <%= f.text_area :status, class: 'form-control' %>
          </div>
            <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
        <% end %>
    </aside>
    <h2>タスク一覧</h2>
    <div class="col-xs-8">
      <p><%= render 'toppages/toppages', tasks: @tasks %></p>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>タスクリスト</h1>
  </div>
</div>s
<% end %>