<% if logged_in? %>
  <p>ログインしているユーザー: <%= current_user.name %></p>

  <% current_user %>

  <div class="row">
    <aside class="col-md-4">
      
<%= form_for(@task) do |f| %>

        <div class="form-group">
 
<p><%= f.text_area :content, class: 'form-control', rows: 5 %></p>
<p><%= f.text_area :status, class: 'form-control', rows: 5 %></p>

        </div>
        
<%= f.submit '登録', class: 'btn btn-primary btn-block' %>

      
<% end %>

    </aside>
    <div class="col-xs-8">
      
<%= render 'toppages/toppages', tasks: @tasks %>

    </div>
  </div>














<div class="center jumbotron">
  <div class="text-center">
    <h1>タスクリスト</h1>
  </div>
</div>


<h1>タスク一覧</h1>
<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タスク名</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.id, task %>
        </td>
        <td>
          <%= task.content %>
        </td>
        <td>
          <%= task.status %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div><%= paginate @tasks %></div>
<% end %>

<%= link_to '新規タスクの作成', new_task_path, class:"btn btn-primary" %>

<%= link_to 'ユーザー登録', signup_path, class: 'btn btn-info' %>



<% end %>